{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "airbnb",
    "prettier"
  ],
  "plugins": ["react"],
  "parserOptions": {
    "parser": "@babel/eslint-parser",
    "requireConfigFile": false, // <== ADD THIS
    "ecmaVersion": 12, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module" // Allows for the use of imports
  },
  "env": {
    "browser": true,
    "jest": true,
    "es2021": true
  },
  "rules": {
    "curly": ["error"],
    "max-depth": ["warn", 4],
    "id-length": ["warn", { "exceptions": ["i", "j"], "min": 2 }],
    "no-lonely-if": ["error"],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-restricted-syntax": "off",
    "class-methods-use-this": "off",
    "react/react-in-jsx-scope": "off",
    "jsx-a11y/href-no-hash": ["off"],
    "jsx-a11y/anchor-is-valid": ["off"],
    "import/no-named-as-default": "off",
    "react/prefer-stateless-function": "off",
    "import/no-named-as-default-member": "off",
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "assert": "either"
      }
    ],
    "react/state-in-constructor": ["off"],
    "react/jsx-props-no-spreading": ["off"],
    "react/static-property-placement": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  }
}
