div .ant-card-body {
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: 0.4fr 0.6fr;
  background-color: #ffffff;
  padding: 2px;
}
@media (max-width: 900px) {
  div .ant-card-body {
    grid-template-columns: 0.2fr 0.8fr;
  }
}
@media (max-width: 500px) {
  div .ant-card-body {
    grid-template-columns: 0.4fr 0.6fr;
  }
}

div .ant-card-body::before,
div .ant-card-body::after {
  display: none;
}

.card-img {
  width: 160px;
  height: 243px;
  object-fit: cover;
  grid-row: 1/6;
}
@media (max-width: 900px) {
  .card-img {
    grid-row: 1/5;
  }
}

@media (max-width: 450px) {
  .card-img {
    width: 76px;
    height: 114px;
    max-width: 100%;
    max-height: 100%;
    grid-row: 1/4;
  }
}

.card-movie-title {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-bottom: 0;
  font-size: 20px;
}

@media (max-width: 450px) {
  .card-movie-title {
    font-size: 16px;
  }
}

.card-popularity-count {
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  border: 3px solid #e90000;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  justify-self: end;
  align-self: start;
}

.card-popularity-count.orange {
  border-color: #e97e00;
}

.card-popularity-count.yellow {
  border-color: #e9d100;
}

.card-popularity-count.green {
  border-color: #66e900;
}

.card-release-date {
  display: flex;
  grid-column: 2/4;
  grid-row: 2/3;
  margin-top: 5px;
  font-size: 12px;
  align-self: start;
  justify-self: start;
}

.card-tags {
  grid-column: 2/4;
  grid-row: 3/4;
  margin-top: 5px;
  align-self: start;
  flex-wrap: wrap;
  display: flex;
}

.ant-tag.card-genres-tag {
  margin-top: 2px;
}
@media (max-width: 450px) {
  .ant-tag.card-genres-tag {
    font-size: 7px;
  }
}

.card-overview {
  grid-column: 2/4;
  grid-row: 4/5;
  font-size: 14px;
  align-self: stretch;
  justify-self: stretch;
}
@media (max-width: 900px) {
  .card-overview {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .card-overview {
    font-size: 12px;
    grid-column: 1/4;
  }
}

ul.ant-rate {
  grid-column: 2/4;
  grid-row: 5/6;
  font-size: 100%;
  align-self: end;
  justify-self: end;
}
@media (max-width: 900px) {
  ul.ant-rate {
    grid-column: 1/4;
  }
}

@media (max-width: 450px) {
  ul.ant-rate {
    font-size: 14px;
  }
}
